@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-base);
  color: var(--color-zero);
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

input,
button,
select {
  font-family: "Poppins", sans-serif;
}
