:root {
  --color-base: #eaeaea;
  --color-zero: #292929;
  --color-primary: #d7755c;
  --color-secondary: #ffffff;
  --color-terciary: #c44747;
  --color-btn-primary: #4755a5;
  --color-btn-secondary: #b6b6b6;
  --color-forth: #626262;
}
